//
// Main
//

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@include fontFace('PlayfairDisplay', 'playfairdisplaysc-regular');

$playfair: 'PlayfairDisplay', Georgia, serif;
$oxygen: 'Oxygen', Georgia, serif;
$raleway: 'Raleway', Georgia, serif;

$red: #420b0e;

html{
	background: #fff;
}

body{
	background: #fff;
	font-family: Georgia, serif;
	padding-top: 198px;
}

.inner{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px;
}

.pageSection{
	position: relative;
}

.pageHeader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}

.headerTop{
	@include rel(0, -138px);
	z-index: 1;
	width: 100%;
	height: 60px;
	border-bottom: 5px solid #d5c092;
	@include bg(#f5f2e4, 'header-top-bg.jpg', 50% 0);
	
	.inner{
		padding-left: 183px;
		padding-right: 75px;
	}
	
	.social{
		float: right;
		padding-top: 13px;
	}
}

.headerBottom{
	@include rel(0, 60px);
	z-index: 2;
	width: 100%;
	height: 138px;
	border-bottom: 5px solid #d5c092;
	@include bg(#e0ba43, 'header-bottom-bg.jpg', 50% 0);
	background: url($imagesDir + 'header-bottom-bg.jpg') no-repeat 50% 0,
				#e0ba43 url($imagesDir + 'header-bottom-stripe.png') repeat-x 0 0;
	
	.inner{
		padding-left: 170px;
		padding-top: 35px;
	
		&:before{
			content: '';
			@include abs(-65px, -60px);
			z-index: 2;
			width: 300px;
			height: 193px;
			@include bg('horse.png');
		}
	}
}

.pageMenu{
	@include clear();
	float: left;
	
	ul{
		
	}
	
	li{
		float: left;
	}
	
	a{
		display: block;
		height: 60px;
		line-height: 55px;
		padding: 0 42px;
		color: #400000;
		font-size: 1.8em;
		font-family: $playfair;
		border-bottom: 5px solid transparent;
		transition: border-bottom-color .2s;
		
		&.active,
		&:hover{
			border-bottom-color: #570f12;
		}
	}
}

.menuOpener{
	display: none;
	width: 51px;
	height: 55px;
	@include bg(#5e1014, 'ico-hamburger.png', 50% 50%);
	@include abs(0, 0);
	z-index: 11;
	cursor: pointer;
}

.social{
	
	a{
		display: inline-block;
		width: 35px;
		height: 35px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		margin-left: 6px;
		
		&.facebook{
			@include bgImg('ico-facebook.png');
		}
		
		&.twitter{
			@include bgImg('ico-twitter.png');
		}
	}
}

.pageLogo{
	position: relative;
	z-index: 3;
	color: #f5f2e3;
	font-size: 3.6em;
	font-family: $playfair;
	text-shadow: 0 0 6px rgba(0, 0, 0, .75);
	
	br{
		display: none;
	}
	
	span{
		display: block;
		color: #e5e3d5;
		font-family: $oxygen;
		font-size: 0.5em;
		text-transform: uppercase;
	}
}

.formOpener{
	display: block;
	height: 51px;
	line-height: 51px;
	padding: 0 57px 0 16px;
	@include absR(30px, 82px);
	z-index: 9;
	@include bg($red);
	color: #e4ae00;
	font-family: $raleway;
	font-weight: 200;
	font-size: 1.8em;
	text-transform: uppercase;
	cursor: pointer;
	transition: height .2s;
	
	&:after{
		content: '';
		width: 0;
		height: 0;
		@include absR(24px, 11px);
		-moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-webkit-transform: rotate(0);
		transform: rotate(0);
		transition: transform .2s;
		
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		border-left: 14px solid #e4ae00;
	}
	
	&.opened{
		height: 56px;
		
		&:after{
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}

.sectionHome{
	@include bg(#f5f2e4, 'section1-bg.jpg', 50% 0);
	padding-bottom: 10px;
	z-index: 9;
	
	.inner{
		@include clear();
	}
	
	&:after{
		content: '';
		@include absB(0, -65px);
		z-index: -1;
		width: 100%;
		height: 65px;
		@include bg(#f5f2e4);
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-moz-transform: skewY(-1.9deg);
		-ms-transform: skewY(-1.9deg);
		-webkit-transform: skewY(-1.9deg);
		transform: skewY(-1.9deg);
	}
}

.carousel{
	float: left;
	width: 622px;
	margin-top: 95px;
	
	.jcarousel{
		width: 100%;
		border: 1px solid #d5d2c6;
		
		li{
			width: 610px;
			margin: 5px;
			
			img{
				max-width: 100%;
			}
		}
	}
}

.news{
	float: right;
	width: 296px;
	border: 1px solid #d5c092;
	margin-top: 82px;
	
	.newsInner{
		position: relative;
		margin: 5px;
		@include bg(#efecde);
		@include bg(rgba(245, 242, 228, .8));
		padding: 10px 5px 0 3px;
	}
	
	h2{
		color: #333;
		font-size: 2.7em;
		font-weight: 300;
		font-family: $raleway;
		margin-left: 8px;
	}
	
	.name{
		margin-left: 8px;
		color: #3d3c39;
		font-size: 1.4em;
		font-weight: 700;
		text-shadow: 0 1px 0 #fbfbf9;
	}
	
	.avatar{
		@include absR(8px, 31px);
		border-radius: 50%;
	}
	
	.feed{
		margin-top: 15px;
	}
	
	.item{
		position: relative;
		border-top: 1px solid #c0beb2;
		padding: 7px 14px 12px 39px;
		text-shadow: 0 1px 0 #fbfbf9;
		
		&:before{
			content: '';
			@include abs(0, 0);
			width: 100%;
			height: 1px;
			@include bg(#fff);
		}
		
		p{
			position: relative;
			color: #3d3c39;
			font-size: 1.4em;
			font-style: italic;
			
			&:after{
				content: '';
				width: 17px;
				height: 18px;
				@include abs(-27px, 50%);
				margin-top: -9px;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
			
			a{
				color: #61c8c7;
				text-decoration: underline;
				
				&:hover{
					text-decoration: none;
				}
			}
		}
		
		time{
			display: block;
			margin-top: 4px;
			color: #b7b5aa;
			font-size: 1.2em;
			font-style: italic;
		}
		
		&.itemFacebook p:after{
			@include bg('ico-feed-facebook.png');
		}
		
		&.itemTwitter p:after{
			@include bg('ico-feed-twitter.png');
		}
	}
}

.sectionAbout{
	@include bg(#d5c092, 'section2-bg.jpg', 50% 305px);
	z-index: 8;
	
	&:after{
		content: '';
		@include absB(0, -65px);
		z-index: -1;
		width: 100%;
		height: 65px;
		@include bg(#d5c092);
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-moz-transform: skewY(-1.9deg);
		-ms-transform: skewY(-1.9deg);
		-webkit-transform: skewY(-1.9deg);
		transform: skewY(-1.9deg);
	}
	
	.inner{
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 85px;
		padding-bottom: 51px;
		@include bg(#d5c092, 'section2-bg.jpg', -318px 305px);
	}
	
	h2{
		color: #f5f2e4;
		font-size: 8.4em;
		font-weight: 200;
		font-family: $raleway;
		margin-bottom: 5px;
	}
	
	.images{
		@include clear();
		margin-bottom: 5px;
		
		img{
			display: block;
			float: left;
			width: 32.24%;
			margin-right: 1.09%;
			border: 1px solid #f3efe0;
			padding: 4px;
			
			&:nth-child(n){
				margin-right: 1.63%;
			}
			
			&:nth-last-child(1){
				margin-right: 0;
			}
		}
	}
	
	p{
		color: #3d3c39;
		font-size: 1.8em;
		margin-top: .611em;
		width: 100%;
		max-width: 408px;
	}
	
	.contactUs{
		margin-top: 57px;
	}
}

	
.contactUs{
	display: inline-block;
	position: relative;
	height: 51px;
	line-height: 51px;
	color: #e4ae00;
	font-family: $raleway;
	font-weight: 200;
	font-size: 18px;
	padding: 0 59px 0 16px;
	@include bg(#420b0e);

	&:after{
		content: '';
		width: 0;
		height: 0;
		@include absR(20px, 17px);

		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid #e4ae00;
	}
}

.parallax{
	z-index: 1;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 110%;
	
	&.parallax1{
		height: 765px;
		@include bgImg('horses.jpg');
	}
	
	&.parallax2{
		height: 660px;
		@include bgImg('horses.jpg');
	}
}

.sectionServices{
	z-index: 7;
	
	&:after{
		content: '';
		@include absB(0, -65px);
		z-index: -1;
		width: 100%;
		height: 65px;
		@include bg(#f5f2e4);
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-moz-transform: skewY(-1.9deg);
		-ms-transform: skewY(-1.9deg);
		-webkit-transform: skewY(-1.9deg);
		transform: skewY(-1.9deg);
	}
	
	h2{
		color: #d5c092;
		font-size: 8.4em;
		font-weight: 200;
		font-family: $raleway;
	}
}

.servicesTop{
	@include bg(#edf8ff);
	
	.inner{
		padding-top: 30px;
		padding-left: 55px;
	}
	
	.diagram{
		overflow: hidden;
		width: 100%;
		@include bg('section3-stripe.png', 0 0, repeat-x);
		background-size: 1px 100%;
		
		img{
			display: block;
			width: 100%;
			max-width: 1920px;
			margin: 0 auto;
		}
	}
}

.servicesBottom{
	@include bg(#f5f2e4);
	text-align: center;
	
	.inner{
		padding-top: 52px;
		padding-bottom: 97px;
	}
	
	.columns{
		padding-bottom: 53px;
		border-bottom: 1px solid #fff;
		position: relative;
		text-align: left;

		.columnsInner{
			@include clear();
		}
		
		&:after{
			content: '';
			@include absB(0, 0);
			width: 100%;
			height: 1px;
			@include bg(#c0beb2);
		}
	}
	
	.column{
		float: left;
		width: 31.92%;
		
		&:nth-child(n){
			margin-right: 2.12%;
		}
		
		&:nth-child(3n){
			margin-right: 0;
		}
		
		img{
			display: block;
			max-width: 100%;
			border: 1px solid #f3efe0;
			padding: 4px;
			margin-bottom: 12px;
		}
		
		h3{
			color: #333;
			font-size: 2.4em;
			font-family: $raleway;
			margin: 0 11px 14px;
		}
		
		p{
			color: #3d3c39;
			font-size: 1.8em;
			margin: 0 11px;
		}
	}
	
	.contactUs{
		margin-top: 18px;
	}
}

.sectionFaq{
	z-index: 6;
	
	&:before{
		content: '';
		@include abs(0, -65px);
		z-index: -1;
		width: 100%;
		height: 65px;
		@include bg(#d6c39a);
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-moz-transform: skewY(1.9deg);
		-ms-transform: skewY(1.9deg);
		-webkit-transform: skewY(1.9deg);
		transform: skewY(1.9deg);
	}
	
	&:after{
		content: '';
		@include absB(0, -65px);
		z-index: -1;
		width: 100%;
		height: 65px;
		@include bg(#e2d4b3);
		-moz-transform-origin: 100% 0;
		-ms-transform-origin: 100% 0;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-moz-transform: skewY(1.9deg);
		-ms-transform: skewY(1.9deg);
		-webkit-transform: skewY(1.9deg);
		transform: skewY(1.9deg);
	}
	
	h2{
		color: #f4f1e2;
		font-size: 8.4em;
		font-weight: 200;
		font-family: $raleway;
	}
}

.faqTop{
	@include bg(#d6c39a);
	position: relative;
	
	.inner{
		padding-left: 55px;
		padding-right: 55px;
	}
	
	.ellipse{
		@include absB(0, -22px);
		width: 100%;
		height: 22px;
		@include bg(#d6c39a);
		border-bottom-left-radius: 960px 32px;
		border-bottom-right-radius: 960px 32px;
	}
}

.faqBottom{
	@include bg(#e2d4b3);
	
	.inner{
		padding-top: 50px;
		padding-left: 21px;
		padding-right: 21px;
		padding-bottom: 78px;
	}
	
	.links{
		padding: 0 39px 27px;
		border-bottom: 1px solid #fff;
		position: relative;
		
		&:after{
			content: '';
			@include absB(0, 0);
			width: 100%;
			height: 1px;
			@include bg(#c0beb2);
		}
		
		h3{
			color: #3d3c39;
			font-size: 1.8em;
			font-weight: 700;
			margin-bottom: 24px;
		}
		
		ol{
			list-style: decimal;
			color: #d07a00;
			font-size: 1.8em;
			margin-left: 50px;
		}
		
		li{
			margin: 12px 0;
		}
		
		a{
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	.list{
		padding: 0 39px;
		
		h3{
			color: #3d3c39;
			font-size: 1.8em;
			font-weight: 700;
			margin-bottom: 11px;
			margin-top: 30px;
		}
		
		p{
			color: #3d3c39;
			font-size: 1.8em;
			margin-left: 30px;
		}
	}
}

.pageFooter{
	@include bg(#f5f2e4);
	
	.inner{
		width: 555px;
		padding: 128px 0 0;
		padding-bottom: 33px;
	}
	
	.copy{
		clear: both;
		color: #d5c092;
		font-size: 1.2em;
		text-align: center;
		padding-top: 6px;
	}
	
	.footerMenu{
		float: left;
		margin-top: 10px;
		
		li{
			float: left;
			margin-right: 63px;
		}
		
		a{
			color: $red;
			font-size: 1.4em;
			font-family: $raleway;
			font-weight: 700;
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	.social{
		float: right;
	}
}

.contactForm{
	@include bg($red);
	height: 80px;
	width: 100%;
	@include abs(0, 198px);
	z-index: 101;
	
	form{
		@include clear();
		width: 393px;
		padding-top: 8px;
		position: relative;
		float: right;
		margin-right: 3px;
		margin-left: 22px;
		
		input[type="text"],
		input[type="email"]{
			width: 317px;
			height: 32px;
			@include bg(#a17a00);
			border: 0;
			border-radius: 3px;
			font-family: $raleway;
			font-weight: 300;
			color: #e4ae00;
			font-size: 1.8em;
			margin: 0 0 2px;
			padding: 0 8px;
			line-height: 32px;
			float: left;
			box-shadow: 5px 4px 5px rgba(0, 0, 0, .33);
		}
		
		input[type="submit"]{
			width: 73px;
			height: 66px;
			@include bg(#6e1217, 'ico-check.png', 50% 50%);
			border: 0;
			border-radius: 3px;
			@include absR(0, 8px);
			box-shadow: 5px 4px 5px rgba(0, 0, 0, .33);
		}
	}
	
	.phone{
		float: right;
		
		p{
			color: #a17a00;
			font-size: 1.2em;
			font-family: $raleway;
			text-align: right;
			margin-top: 7px;
			line-height: 13px;
		}
		
		span{
			display: block;
			text-align: right;
			color: #a17a00;
			font-weight: 200;
			font-family: $raleway;
			font-size: 4.4em;
			padding-right: 25px;
			line-height: 42px;
		}
	}
}